/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
.background {
  //background-image: linear-gradient(to right, blue 20%, gray 80%);
  background-image: linear-gradient(45deg, aliceblue 25%, transparent 25%, transparent 50%, aliceblue 50%, antiquewhite 75%, transparent 75%, aliceblue);
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  //height: 60px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
}

::ng-deep table {
  width: 100%;
  margin: 2rem 0;
  border-collapse: collapse;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead {
    tr {
      background-color: #dd0031;
      color: #ffffff;
      text-align: left;
    }
  }

  tbody tr:hover {
    background-color: #f6f6f6;
  }

  th,
  td {
    padding: 1rem;
  }
}

